<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>


    <script>
        // Function to get the value of a parameter from the URL
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        // Retrieve the value of 'id' from the URL
        var tourId = getUrlParameter('id');
        console.log(tourId)
        // Set the value of 'id' to the form action attribute
        document.getElementById('registrationForm').action = '/register/' + tourId;
    </script>

    <h2>User Registration Form</h2>

    <form id="registrationForm" method="post">
        <label for="full_name">Full Name:</label>
        <input type="text" id="full_name" name="full_name" required><br>

        <label for="phone_number">Phone Number:</label>
        <input type="tel" id="phone_number" name="phone_number" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="relatives_contact">Relatives Contact:</label>
        <input type="tel" id="relatives_contact" name="relatives_contact" required><br>

        <label for="whatsapp_number">WhatsApp Number:</label>
        <input type="tel" id="whatsapp_number" name="whatsapp_number" required><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>
